body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

nav {
    font-weight: 500;
    color: #2E2F42;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    padding-left: 0;
}

.color {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo {
    color: #2E2F42;
}

.section-first {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.button-hero {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
}

.main-text {
    letter-spacing: 0.02em;
}

.none-text-section {
    visibility: hidden;
}

.main-text-section {
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-li {
    background-color: #FFFFFF;
}

.p-text {
    font-size: 16px;
}

.section-third {
    background-color: #F4F4FD;
    text-align: center;
}

.studio {
    color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-text {
    letter-spacing: 0.02em;
}